
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.env
/bin/
/config/packages/
/config/routes/
/composer.lock
/symfony.lock
/public/index.php
/config/preload.php
