{# templates/security/login.html.twig #}

{% extends 'base.blog.html.twig' %}

{% block title %}Entrada en el blog{% endblock %}
{% block body %}

    <p>La entrada no existe</p>

{% endblock %}